* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.projectContainer {
   margin-top: 15%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    margin-bottom: 8%;
    font-size: 24px;
    font-weight: bold;
}

.projectSlider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    
}

.sliderContainer {
    width: 500px; 
    margin: 10px;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 3px solid rgb(0, 212, 255);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.imgContainer {
    width: 100%;
    height: 230px; 
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden; 
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.infoContainer {
    padding: 16px;
}

.infoContainer p {
    margin-bottom: 8px;
    line-height: 30px;

}

.infoContainer p:last-child {
    margin-bottom: 0;
}
.projectName{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.infoContainer a {
    color: #007bff; 
    text-decoration: none;
}

.infoContainer a:hover {
    text-decoration: underline;
}

.sliderContainer:hover {
    cursor: pointer;
    
    transform: scale(1.1); 
    box-shadow: 0px 0px 25px rgba(0, 212, 255, 0.7);
}

.sliderContainer:hover .infoContainer {
    color: #fff;
}

.infoContainer img{
    width: 70px;
    height: 70px;
}

@media only screen and (max-width: 768px) {
    .projectContainer {
      position: relative;
      bottom: 160px;
      height: auto; 
    }
  
    .heading h1{
      font-size: 30px; 
      margin-bottom: 5%; 
      text-align: center;
    }
  
    .projectSlider {
      flex-direction: column; 
      align-items: center; 
      gap: 40px; 
    }
  
    .sliderContainer {
      width: 90%; 
      max-width: 400px; 
    }
  
    .imgContainer {
      height: 200px;
    }
  
    .infoContainer {
      padding: 10px; 
    }
  
    .projectName {
      font-size: 20px; 
      text-align: center; 
    }
  
    .infoContainer p {
      font-size: 16px;
      line-height: 1.5; 
    }
  
    .infoContainer img {
      width: 50px;
      height: 50px; 
    }
  }
  